<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Curriculum Vue</title>
</head>
<body data-spy="scroll" data-target="#navbar" data-offset="0">
    <div id="app">
        <div v-if="datos">
          <div class=" container-fluid row">
            <nav id="navbar" class="col-sm-3 col-4 col-xl-2 bg-dark collapse show">
              <div class="container sticky-top">
                <a class="navbar-brand" href="#">Curriculum</a>
                <button class="btn btn-success" v-if="idioma" v-on:click="idiomaCambiar()">English</button>
                <button class="btn btn-success" v-if="!idioma" v-on:click="idiomaCambiar()">Español</button>
                <ul class="nav sticky-top nav-pills flex-column">
                  <li class="nav-item pt-2">
                    <a class="nav-link" href="#sobremi">{{obtenerjson.sobremi[0].sobre}}</a>
                    <a class="nav-link" href="#experiencia">{{obtenerjson.experienciaprofesional[0].experiencia}}</a>
                    <a class="nav-link" href="#educacion">{{obtenerjson.educacion[0].texto}}</a>
                    <a class="nav-link" href="#destrezas">{{obtenerjson.destrezas[0].texto}}</a>
                    <a class="nav-link" href="#proyectos">{{obtenerjson.proyectos[0].texto}}</a>              
                    <a class="nav-link" href="#idiomas">{{obtenerjson.idiomas[0].texto}}</a>            
                    <a class="nav-link" href="#referencia">{{obtenerjson.referencias[0].texto}}</a>              
                    <a class="nav-link" href="#contacto">{{obtenerjson.contacto[0].texto}}</a>
                  </li>
                </ul>
              </div>
          </nav> 

          <div  class="col-sm-9 col-8 col-xl-10 pl-5">
            <div id="sobremi" class="pt-3">
                <h4 id="fat">{{obtenerjson.sobremi[0].sobre}}</h4>
                <p>{{obtenerjson.sobremi[0].nombre}} {{obtenerjson.sobremi[0].apellidos}}</p>
                <p>{{obtenerjson.sobremi[0].fecha_nacimiento}}</p>
                <p>{{obtenerjson.sobremi[0].telefono}}</p>
                <p>{{obtenerjson.sobremi[0].direccion}}</p>
                <p>{{obtenerjson.sobremi[0].descripcion}}</p>
                <h6>{{obtenerjson.sobremi[0].redes_sociales[0].texto}}</h6>
                <a :href="obtenerjson.sobremi[0].redes_sociales[0].github" target="blank"><i id="github" class="fab fa-github" data-toggle="tooltip" data-placement="bottom" title="Github"></i></a>
                <a :href="obtenerjson.sobremi[0].redes_sociales[0].linkedin" target="blank"><i id="linkedin" class="fab fa-linkedin"  data-toggle="tooltip" data-placement="bottom" title="Linkedin"></i></a>
            </div>
            <div id="experiencia">
                <h4 id="fat">{{obtenerjson.experienciaprofesional[0].experiencia}}</h4>
                <p>{{obtenerjson.experienciaprofesional[0].empleo0}}</p>
                <p>{{obtenerjson.experienciaprofesional[0].duracion0}}</p>
                <p>{{obtenerjson.experienciaprofesional[0].empleo1}}</p>
                <p>{{obtenerjson.experienciaprofesional[0].duracion1}}</p>
            </div>
            <div id="educacion">
                <h4 id="fat">{{obtenerjson.educacion[0].texto}}</h4>
                <table class="table table-success">
                  <thead>
                    <tr>
                      <th scope="col">{{obtenerjson.educacion[0].texto1}}</th>
                      <th scope="col">{{obtenerjson.educacion[0].texto2}}</th>
                      <th scope="col">{{obtenerjson.educacion[0].texto3}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{obtenerjson.educacion[0].estudio0[0].nombre}}</td>
                      <td>{{obtenerjson.educacion[0].estudio0[0].centro}}</td>
                      <td>{{obtenerjson.educacion[0].estudio0[0].fecha}}</td>
                    </tr>
                    <tr>
                      <td>{{obtenerjson.educacion[0].estudio1[0].nombre}}</td>
                      <td>{{obtenerjson.educacion[0].estudio1[0].centro}}</td>
                      <td>{{obtenerjson.educacion[0].estudio1[0].fecha}}</td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <div id="destrezas">
                <h4 id="fat">{{obtenerjson.destrezas[0].texto}}</h4>
                <div class="row">
                  <div class="col-sm-2">
                    <div class="card">
                      <div class="card-body">
                        <img :src="obtenerjson.destrezas[0].imagen0" class="img-fluid" alt="java">
                        <p class="card-text text-center text-primary">Java</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="card">
                      <div class="card-body">
                        <img :src="obtenerjson.destrezas[0].imagen1" class="img-fluid" alt="javascript">
                        <p class="card-text text-center text-primary">Javascript</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="card">
                      <div class="card-body">
                        <img :src="obtenerjson.destrezas[0].imagen2" class="img-fluid" alt="vue">
                        <p class="card-text text-center text-primary">Vue</p>
                      </div>
                    </div>
                  </div>  
                </div>
                <div class="row pt-2">
                  <div class="col-sm-2">
                    <div class="card">
                      <div class="card-body">
                        <img :src="obtenerjson.destrezas[0].imagen3" class="img-fluid" alt="html">
                        <p class="card-text text-center text-primary">HTML5</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="card">
                      <div class="card-body">
                        <img :src="obtenerjson.destrezas[0].imagen4" class="img-fluid" alt="css">
                        <p class="card-text text-center text-primary">Css3</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="card">
                      <div class="card-body">
                        <img :src="obtenerjson.destrezas[0].imagen5" class="img-fluid" alt="bootstrap">
                        <p class="card-text text-center text-primary">Bootstrap</p>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
            
            <div id="proyectos">
              <h4 id="fat">{{obtenerjson.proyectos[0].texto}}</h4>
              <div class="row">
                <div class="col-sm-2 dol text-center">
                <div class="card">
                  <div class="card-body">
                    <img :src="obtenerjson.proyectos[0].proyecto0[0].imagen1" class="img-fluid" alt="pong">
                    <p class="card-text text-center text-primary">{{obtenerjson.proyectos[0].proyecto0[0].titulo}}</p>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#proyecto1">
                      {{obtenerjson.texto2}}
                    </button>
                  </div>
                
                
                <div class="modal fade" id="proyecto1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">{{obtenerjson.proyectos[0].proyecto0[0].titulo}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-sm-6">
                            <img :src="obtenerjson.proyectos[0].proyecto0[0].imagen1" class="img-fluid" alt="pong">
                          </div>
                          <div class="col-sm-6">
                            <h3><a :href="obtenerjson.proyectos[0].proyecto0[0].enlace" target="blank">{{obtenerjson.proyectos[0].proyecto0[0].texto1}}</h3></a>
                            <h3>{{obtenerjson.proyectos[0].proyecto0[0].texto2}}</h3>
                            <p>{{obtenerjson.proyectos[0].proyecto0[0].resumen}}</p>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{obtenerjson.proyectos[0].texto2}}</button>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
              <div class="col-sm-2 dol text-center">
              <div class="card">
                <div class="card-body">
                  <img :src="obtenerjson.proyectos[0].proyecto1[0].imagen1" class="img-fluid" id="landing" alt="landingPage">
                  <p class="card-text text-center text-primary">{{obtenerjson.proyectos[0].proyecto1[0].titulo}}</p>
                  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#proyecto2">
                    {{obtenerjson.texto2}}
                  </button>
                </div>
              
              
              <div class="modal fade" id="proyecto2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Landing page</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-sm-6">
                          <img :src="obtenerjson.proyectos[0].proyecto1[0].imagen1" class="img-fluid" alt="landinPage1">
                          <img :src="obtenerjson.proyectos[0].proyecto1[0].imagen2" class="img-fluid" alt="landinPage1">
                        </div>
                        <div class="col-sm-6">
                          <h3><a :href="obtenerjson.proyectos[0].proyecto1[0].enlace" target="blank">{{obtenerjson.proyectos[0].proyecto1[0].texto1}}</h3></a>
                          <h3><a :href="obtenerjson.proyectos[0].proyecto1[0].enlace2" target="blank">{{obtenerjson.proyectos[0].proyecto1[0].texto2}}</h3></a>
                          <h3>{{obtenerjson.proyectos[0].proyecto1[0].texto3}}</h3>
                          <p>{{obtenerjson.proyectos[0].proyecto1[0].resumen}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">{{obtenerjson.proyectos[0].texto2}}</button>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
            </div>
            <div id="idiomas">
                <h4 id="fat">{{obtenerjson.idiomas[0].texto}}</h4>
                <p>{{obtenerjson.idiomas[0].idioma0}}</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p>{{obtenerjson.idiomas[0].idioma1}}</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div id="referencia">
              <div id="transicion">
                <transition name="fade">
                  <div v-if="mostrar">
                    <h4 id="fat">{{obtenerjson.referencias[0].texto}}</h4>
                    <h6>{{obtenerjson.referencias[0].referencia0[0].empresa}}</h6>
                    <p>{{obtenerjson.referencias[0].referencia0[0].comentario}}</p>
                    <h6>{{obtenerjson.referencias[0].referencia1[0].empresa}}</h6>
                    <p>{{obtenerjson.referencias[0].referencia1[0].comentario}}</p>
                </div>
                </transition>
                <button v-on:click="mostrar = !mostrar" class="btn btn-info">
                  {{obtenerjson.texto1}}
                </button>
              </div>
                
            </div>
            <div id="contacto pt-2">
                <h4 id="fat">{{obtenerjson.contacto[0].texto}}</h4>
                <form>
                  <div class="form-group">
                    <label for="nombre">{{obtenerjson.contacto[0].nombre}}</label>
                    <input type="text" class="form-control" id="nombre" required >
                  </div>
                  <div class="form-group">
                    <label for="mensaje">{{obtenerjson.contacto[0].mensaje}}</label>
                    <input type="text" class="form-control" id="mensaje" required>
                  </div>
                  <div class="form-group">
                    <label for="email">{{obtenerjson.contacto[0].correo}}</label>
                    <input type="email" class="form-control" id="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$">
                  </div>
                  <button type="submit" class="btn btn-primary">{{obtenerjson.contacto[0].enviar}}</button>
                </form>
            </div>
            </div>
          </div>
          </div>
    
    <div v-else>
      <div class="d-flex justify-content-center">
        <div class="spinner-grow" role="status">
          <span class="sr-only"></span>
        </div>
      </div>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js" integrity="sha512-otOZr2EcknK9a5aa3BbMR9XOjYKtxxscwyRHN6zmdXuRfJ5uApkHB7cz1laWk2g8RKLzV9qv/fl3RPwfCuoxHQ==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="index.js"></script>
</body>
</html>